div.modal.fade#modalCenter(tabindex="-1" role="dialog" aria-hidden="true")
  div.modal-dialog.modal-dialog-centered(role="document")
    div.modal-content
      div.modal-header
        h5.modal-title.f-bold title
        button.close(type="button" data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") &times;
      div.modal-body.text-center body
      div.modal-footer
        button.btn.btn-outline-dark.border.f-bold(type="button" data-dismiss="modal") Confirm